@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');


.nav
{
    background-color: #434343!important;
    height: 64px;
    font-family: 'Fira Mono'; 
}
.nav-name
{
    /* font-family: 'FiraMono-Medium'; */
    font-size: 32px;
}

.carousel1
{
height:100%;
}
.img1
{
    width: 60px;
    height: 60px;
   
  
}
.card2
{
    /* display: flex; */
    padding-top: 16px;
    /* align-items: center;
    justify-content: center; */
    /* margin-left: 6px;
    margin-right: 6px; */
}
.centercard
{
    
    background-color: #FFEFD9;
    border-color: #434343;
    /* width: 38vw !important; */
    box-shadow: 5px 5px #888888;
}
.h21{
    font-family: 'Fira Mono'; 
    /* font-family: VCR_OSD_MONO_1.001; */
    padding-top: 40px;
    padding-bottom: 16px;
    text-align: center;
    font-size:2.000em;
}
.h61{
    font-family: FiraMono-Medium;
    font-size: 1.000em;
    padding-top: 32px;
}
.h11{
    font-family: FiraMono-Medium;
    font-size: 1.750em;
    padding-top: 24px;
}

.p1
{
      font-family: 'Fira Mono'; 
     font-size: 1.500em;
     padding-top: 24px;
}
.p2
{
   
      font-family: 'Fira Mono'; 
     font-size:1.125em;
     padding-top: 24px;
}
.p3
{
    font-family: FiraMono-Medium;
    font-size: 0.938em;
    padding-top: 24px;
}
.p5
{
    padding-top: 24px;
}

.p4button
{
    font-family: FiraMono-Medium;
    font-size:0.875em;
    background-color: #BDF9CB;
    height: 54px;
    color: black;
    border-color:black;
    box-shadow: 5px 5px #888888;
}

.card1
{
    /* display: flex;  */
     width: 28vw !important; 
}
.leftcard
{
    margin-top: 56px;
    background-color: #FFEFD9;
    border-color: #434343;
   
    box-shadow: 5px 5px #888888;
}
.card3
{
    /* display: flex; */
    margin-top: 56px;
     width: 28vw !important;
}
.rightcard
{
    background-color: #FFEFD9;
    border-color: #434343;
    box-shadow: 5px 5px #888888;
}
.P3-input
{
    padding-top: 24px;
    text-align: center;
    font-size:0.875em;
}
.input1{
    background-color: #fbf5e7!important;
    color: #9E9E9E!important;
    font-family: 'Fira Mono';
    height: 40px;
}
.coll{
 column-gap: 6px!important; 
}


