body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  /* background: url("shop_bg_snow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.box
{
  /* transform: translate(-50%,-50%) ; */
  transition-timing-function:linear;
  width:1368px;
  height:641px;
  /* width: calc(4101px/3);
  height:641px; */
  background: url(background-01.png);
  /* animation:animate 1s steps(3) infinite; */

}

@keyframes animate
{
from
  {
    background-position: 0;

  }
to
  {
    background-position:4101px;
  }

}

.box:hover {
  /* transform: scale(2); */
  cursor: pointer;
}


.box1
{
  position: absolute;
  top:60%;
  left:85%;
  background: url(str1.png);
  width: calc(1200px/3);
  height:500px;
  transform: translate(-50%,-50%) ;
  /* transition-timing-function: linear; */
}

.box1:hover {
 animation:animate1 1s steps(3) infinite;
}


@keyframes animate1
{
from
  {
    background-position: 0  ;
  }
to
  {
    background-position:1200px ;
  }

}

.box2
{
  position: absolute;
  top:80%;
  right:70%;
  background: url(css_sprites15.png);
  width: calc(750px/3);
  height:250px;
  transform: translate(-50%,-50%) ;
  transition-timing-function: linear;
}

.box2:hover {
 animation:animate3 1s steps(3) infinite;
}


@keyframes animate3
{
from
  {
    background-position: 0  ;
  }
to
  {
    background-position:750px ;
  }

}
