body{
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;

  /* background: url("shop_bg_snow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.box
{
position: absolute;
transition-timing-function:linear;
width: calc(20535px/15);
height:641px;
background: url(f1.png);
animation:animate 3s steps(15) 2;
animation-delay: 2s;

}

@keyframes animate
{
from
  {
    background-position:0px;
  }
to
  {
    background-position:20535px;
  }
}

.box:hover {
  /* transform: scale(2); */
  cursor: pointer;
}


.box1
{
  position: absolute;
  top:80%;
  right:70%;
  background: url(seq-img.png);
  width: calc(2250px/9);
  height:250px;
  transform: translate(-50%,-50%) ;
  transition-timing-function: linear;

}
.box1:hover {
 animation:animate1 0.3s steps(9) 1;
/* transition-delay: 1s; */
/* animation-delay: : 3s!important; */
}


@keyframes animate1
{
from
  {
    background-position: 0;
  }
to
  {
    background-position:2250px  ;
  }
}

.box2
{
  position: absolute;
  top:80%;
  right:70%;
  background: url(css_sprites15.png);
  width: calc(750px/3);
  height:250px;
  transform: translate(-50%,-50%) ;
  transition-timing-function: linear;
}

.box2:hover {
 animation:animate3 1s steps(3) infinite;
}

@keyframes animate3
{
from
  {
    background-position: 0;
  }
to
  {
    background-position:750px ;
  }
}

.need1
{
  position: absolute;
  top:20%;
  right:32%;
  margin-right:10%;
  width:112px;
  height:212px;
  background: url(bg-needbar-02.png);
}
